<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>CANADA STORE</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" 
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1, minimum-scale=1"/>

    <script type="text/javascript">
        var user  = '{{request.user}}'

        function getToken(name) {
        var cookieValue = null;
        if  (document.cookie && document.cookie !== '') {
          var cookie = document.cookie.split(';');
          for (var i =  0; i < cookie.length; i++) {
              var cookie = cookie[i].trim();
              //Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
          }
          
        }
        return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
    </script>

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="{% url 'menu' %}">
        <img  id="logo-icon" src="{% static 'images/logo.png' %}">
        </a>
        <div class="container-fluid">
            
          <a class="navbar-brand" href="{% url 'menu' %}"> CANADA </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'transaksi' %}"> Transaksi </a>
              </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'keranjang' %}"> Keranjang </a>
                  </li>
                </ul>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pembayaran' %}"> Pembayaran </a>
                      </li>
                    </ul>
            </div>
            <div class="form-inline my-2 my-lg-0">
            <a href="#"class="btn btn-info">Log  Out</a>

            <a href="{% url 'keranjang' %}">
              <img id="cart-icon" src="{% static 'images/cart.png' %}">
            </a>
            <p id="cart-total"> {{cartItems}} </p>
            </div>
        </div>
      </nav>

    <div class="container">
        {% block content %}

        {%  endblock content %}
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" 
integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/keranjang.js' %}"></script>

</body>
</html>